############################################
# Java / Maven / Gradle
############################################

**/target/
**/build/

**/*.class
**/*.log

############################################
# IntelliJ IDEA
############################################

**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/.idea_modules/

############################################
# Sistema operativo
############################################

.DS_Store
**/.DS_Store
Thumbs.db
desktop.ini

############################################
# Archivos temporales
############################################

**/*.tmp
**/*.swp
**/*~

############################################
# Variables de entorno
############################################

.env
**/.env
**/*.env

############################################
# VS Code / Eclipse
############################################

**/.vscode/
**/.project
**/.classpath
**/.settings/
